CREATE DATABASE TESTFINAL
USE [TESTFINAL]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[email] [varchar](100) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventBooking]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventBooking](
	[email] [varchar](100) NOT NULL,
	[name] [varchar](50) NULL,
	[code] [varchar](10) NOT NULL,
	[isEmailVerify] [bit] NULL,
	[isUsed] [bit] NULL,
	[eventId] [int] NOT NULL,
 CONSTRAINT [PK_EventBooking] PRIMARY KEY CLUSTERED 
(
	[email] ASC,
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventTemplate]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventTemplate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[description] [varchar](300) NULL,
	[imageId] [varchar](100) NULL,
	[discount] [int] NULL,
 CONSTRAINT [PK_EventTemplate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Game]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Game](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kind] [int] NOT NULL,
	[name] [varchar](50) NULL DEFAULT ('Untitled'),
	[descript] [varchar](300) NULL DEFAULT ('No description'),
	[price] [int] NULL DEFAULT ((0)),
	[imageId] [varchar](100) NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GameTicket]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameTicket](
	[ticketId] [int] NOT NULL,
	[gameId] [int] NOT NULL,
 CONSTRAINT [PK_GameTicket] PRIMARY KEY CLUSTERED 
(
	[ticketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Images](
	[url] [varchar](255) NOT NULL,
	[cloudinaryId] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[cloudinaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Maintainance]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Maintainance](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[gameId] [int] NULL,
	[description] [varchar](200) NULL,
	[imageId] [varchar](100) NULL,
	[status] [int] NULL DEFAULT ((0)),
	[date] [datetime] NULL,
	[title] [varchar](50) NULL,
 CONSTRAINT [PK_Maintainace] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RunningEvent]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RunningEvent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[description] [varchar](300) NULL,
	[discount] [int] NULL,
	[imageId] [varchar](100) NULL,
	[startBookingTime] [datetime] NULL,
	[endBookingTime] [datetime] NULL,
	[startTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[isStop] [bit] NULL,
 CONSTRAINT [PK_RunningEvent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ticketId] [int] IDENTITY(1,1) NOT NULL,
	[type] [int] NULL,
	[timeIn] [datetime] NULL,
	[timeAway] [datetime] NULL,
	[discount] [float] NULL,
	[cost] [int] NULL,
	[isPayed] [bit] NULL DEFAULT ((0)),
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[ticketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TicketType]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TicketType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[cost] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_TicketType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginName] [varchar](100) NOT NULL,
	[password] [varchar](200) NOT NULL,
	[role] [varchar](10) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vip]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vip](
	[email] [varchar](100) NOT NULL,
	[name] [nvarchar](50) NULL,
	[vipCode] [varchar](10) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[point] [int] NULL,
	[dateEnd] [datetime] NULL,
	[_id] [varchar](50) NOT NULL,
	[userId] [int] NOT NULL,
	[qrImage] [varchar](100) NULL,
 CONSTRAINT [PK_Vip] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VipTicket]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VipTicket](
	[ticketId] [int] NOT NULL,
	[vipId] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VipVoucher]    Script Date: 7/21/2022 4:39:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VipVoucher](
	[vipId] [varchar](50) NOT NULL,
	[voucherCode] [varchar](10) NOT NULL,
	[discount] [float] NOT NULL,
	[dateEnd] [datetime] NOT NULL,
 CONSTRAINT [PK_VipVoucher] PRIMARY KEY CLUSTERED 
(
	[voucherCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customer] ([email], [name]) VALUES (N'dfdhf@gmail.com', N'dfdjfkd')
INSERT [dbo].[Customer] ([email], [name]) VALUES (N'dfjhfd@gmail.com', N'rkfs')
INSERT [dbo].[Customer] ([email], [name]) VALUES (N'nmt14301@gmail.com', N'Nguyen Minh Tu')
SET IDENTITY_INSERT [dbo].[EventTemplate] ON 

INSERT [dbo].[EventTemplate] ([id], [title], [description], [imageId], [discount]) VALUES (18, N'Mid-autumn festival', N'Enjoy mid-autumn festival in our place', N'c92xpjgsryf8veckakva', 0)
INSERT [dbo].[EventTemplate] ([id], [title], [description], [imageId], [discount]) VALUES (19, N'Hello August', N'Hello August ,we have discount 30%', N'prupbtimoqomkr08fmhm', 0)
SET IDENTITY_INSERT [dbo].[EventTemplate] OFF
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([id], [kind], [name], [descript], [price], [imageId]) VALUES (8, 1, N'Slides and gyms', N'Where kid can enjoy playing safely', 1, N'nt2fousnvszc76rgrexc')
INSERT [dbo].[Game] ([id], [kind], [name], [descript], [price], [imageId]) VALUES (9, 1, N'Amazing Swiming Pool', N'Enjoy every in-water activities', 20000, N'p49qnfqg1xzni4kiwull')
INSERT [dbo].[Game] ([id], [kind], [name], [descript], [price], [imageId]) VALUES (10, 1, N'Palm play ground', N'Palm play ground for some physical activities', 20000, N'lprt830bahantq4pxy89')
SET IDENTITY_INSERT [dbo].[Game] OFF
INSERT [dbo].[GameTicket] ([ticketId], [gameId]) VALUES (93, 12)
INSERT [dbo].[GameTicket] ([ticketId], [gameId]) VALUES (94, 12)
INSERT [dbo].[GameTicket] ([ticketId], [gameId]) VALUES (95, 12)
INSERT [dbo].[Images] ([url], [cloudinaryId]) VALUES (N'https://res.cloudinary.com/dokh15dkv/image/upload/v1657944407/ak1cjzvloxhjxeizdoja.png', N'ak1cjzvloxhjxeizdoja')
INSERT [dbo].[Images] ([url], [cloudinaryId]) VALUES (N'https://res.cloudinary.com/dokh15dkv/image/upload/v1657686003/apd1aq0ajfnap44kdeqq.jpg', N'apd1aq0ajfnap44kdeqq')
INSERT [dbo].[Images] ([url], [cloudinaryId]) VALUES (N'https://res.cloudinary.com/dokh15dkv/image/upload/v1658392979/aswrefw825szpyl1k3br.jpg', N'aswrefw825szpyl1k3br')
SET IDENTITY_INSERT [dbo].[Maintainance] ON 

INSERT [dbo].[Maintainance] ([_id], [gameId], [description], [imageId], [status], [date], [title]) VALUES (15, 12, N'Need replacing', N'uvboobodji6psgz0069a', 1, CAST(N'2022-07-21 09:30:05.617' AS DateTime), N'Broken Toy')
INSERT [dbo].[Maintainance] ([_id], [gameId], [description], [imageId], [status], [date], [title]) VALUES (16, 13, N'Many paintbrushes are bent', N'fbeqdamfqs95uyaanhu2', 0, CAST(N'2022-07-21 09:13:38.017' AS DateTime), N'Bent paintbrushes')
INSERT [dbo].[Maintainance] ([_id], [gameId], [description], [imageId], [status], [date], [title]) VALUES (17, 11, N'Need additional balls for football playground
', N'gpgmzn0i2vrzwx6tecpd', 1, CAST(N'2022-07-21 09:30:14.027' AS DateTime), N'Many balls can no longer used')
SET IDENTITY_INSERT [dbo].[Maintainance] OFF
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([ticketId], [type], [timeIn], [timeAway], [discount], [cost], [isPayed]) VALUES (2, 2, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Ticket] ([ticketId], [type], [timeIn], [timeAway], [discount], [cost], [isPayed]) VALUES (3, 3, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Ticket] ([ticketId], [type], [timeIn], [timeAway], [discount], [cost], [isPayed]) VALUES (10, 3, CAST(N'2022-07-13 18:04:59.643' AS DateTime), NULL, 0, 80000, 0)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
SET IDENTITY_INSERT [dbo].[TicketType] ON 

INSERT [dbo].[TicketType] ([id], [name], [cost]) VALUES (1, N'Day ticket', 100000)
INSERT [dbo].[TicketType] ([id], [name], [cost]) VALUES (2, N'Turn Ticket', 300000)
INSERT [dbo].[TicketType] ([id], [name], [cost]) VALUES (3, N'Game Ticket', 0)
SET IDENTITY_INSERT [dbo].[TicketType] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [loginName], [password], [role]) VALUES (2, N'huylee', N'$2a$10$a4MMYBoqnoxrOYguTka/juCHMm/3g1DI/s3FIgQKyMbItk1IOWsMu', N'staff')
INSERT [dbo].[Users] ([id], [loginName], [password], [role]) VALUES (9, N'admintinkerbell', N'$2a$10$ZcDqpMYSH.g19xplcKMRkeWpiKXvQ0ogH8RxF2LjWAKHSs.qlHANe', N'admin')
INSERT [dbo].[Users] ([id], [loginName], [password], [role]) VALUES (13, N'0915272339', N'$2a$10$b9v/OwsdnDlLK8NCx8yheer4VQ8J5vqhyYMhB/qCcWOdUPaMuMQ1e', N'customer')
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[Vip] ([email], [name], [vipCode], [phone], [point], [dateEnd], [_id], [userId], [qrImage]) VALUES (N'nmt14301@gmail.com', N'Nguyen Minh Tuan', N'5VVYC', N'0123456789', 90000, CAST(N'2025-07-19 04:53:18.063' AS DateTime), N'14b745bf-67bd-415b-9a99-514cd405d81a', 15, N's9exxvvlll78nv4hylac')
INSERT [dbo].[Vip] ([email], [name], [vipCode], [phone], [point], [dateEnd], [_id], [userId], [qrImage]) VALUES (N'tensai14301@gmail.com', N'Tran Van Binh', N'i2Kpu', N'0987654321', 51000, CAST(N'2023-07-21 09:20:59.760' AS DateTime), N'310a267d-aad4-4a45-aef2-f0b18ff8e0db', 16, N'zeogizhhunp76iicibip')
INSERT [dbo].[VipTicket] ([ticketId], [vipId]) VALUES (84, N'14b745bf-67bd-415b-9a99-514cd405d81a')
INSERT [dbo].[VipTicket] ([ticketId], [vipId]) VALUES (85, N'14b745bf-67bd-415b-9a99-514cd405d81a')
INSERT [dbo].[VipTicket] ([ticketId], [vipId]) VALUES (90, N'310a267d-aad4-4a45-aef2-f0b18ff8e0db')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQ_User]    Script Date: 7/21/2022 4:39:45 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UNIQ_User] UNIQUE NONCLUSTERED 
(
	[loginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Vip__540D8084E27CCC8D]    Script Date: 7/21/2022 4:39:45 PM ******/
ALTER TABLE [dbo].[Vip] ADD UNIQUE NONCLUSTERED 
(
	[vipCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Vip__AB6E6164F93BFAD2]    Script Date: 7/21/2022 4:39:45 PM ******/
ALTER TABLE [dbo].[Vip] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventBooking] ADD  DEFAULT ((0)) FOR [isEmailVerify]
GO
ALTER TABLE [dbo].[EventBooking] ADD  DEFAULT ((0)) FOR [isUsed]
GO
ALTER TABLE [dbo].[RunningEvent] ADD  DEFAULT ((0)) FOR [isStop]
GO
ALTER TABLE [dbo].[EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_EventBooking] FOREIGN KEY([eventId])
REFERENCES [dbo].[RunningEvent] ([id])
GO
ALTER TABLE [dbo].[EventBooking] CHECK CONSTRAINT [FK_EventBooking]
GO
ALTER TABLE [dbo].[EventTemplate]  WITH CHECK ADD  CONSTRAINT [FK_EventTemplate] FOREIGN KEY([imageId])
REFERENCES [dbo].[Images] ([cloudinaryId])
GO
ALTER TABLE [dbo].[EventTemplate] CHECK CONSTRAINT [FK_EventTemplate]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game] FOREIGN KEY([imageId])
REFERENCES [dbo].[Images] ([cloudinaryId])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game]
GO
ALTER TABLE [dbo].[GameTicket]  WITH CHECK ADD  CONSTRAINT [FK_GameTicket] FOREIGN KEY([ticketId])
REFERENCES [dbo].[Ticket] ([ticketId])
GO
ALTER TABLE [dbo].[GameTicket] CHECK CONSTRAINT [FK_GameTicket]
GO
ALTER TABLE [dbo].[GameTicket]  WITH CHECK ADD  CONSTRAINT [FK_GameTicketId] FOREIGN KEY([gameId])
REFERENCES [dbo].[Game] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameTicket] CHECK CONSTRAINT [FK_GameTicketId]
GO
ALTER TABLE [dbo].[Maintainance]  WITH CHECK ADD  CONSTRAINT [FK_gameId] FOREIGN KEY([gameId])
REFERENCES [dbo].[Game] ([id])
GO
ALTER TABLE [dbo].[Maintainance] CHECK CONSTRAINT [FK_gameId]
GO
ALTER TABLE [dbo].[Maintainance]  WITH CHECK ADD  CONSTRAINT [FK_imageId] FOREIGN KEY([imageId])
REFERENCES [dbo].[Images] ([cloudinaryId])
GO
ALTER TABLE [dbo].[Maintainance] CHECK CONSTRAINT [FK_imageId]
GO
ALTER TABLE [dbo].[RunningEvent]  WITH CHECK ADD  CONSTRAINT [FK_RunningEvent] FOREIGN KEY([imageId])
REFERENCES [dbo].[Images] ([cloudinaryId])
GO
ALTER TABLE [dbo].[RunningEvent] CHECK CONSTRAINT [FK_RunningEvent]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket] FOREIGN KEY([type])
REFERENCES [dbo].[TicketType] ([id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket]
GO
ALTER TABLE [dbo].[Vip]  WITH CHECK ADD  CONSTRAINT [FK_image] FOREIGN KEY([qrImage])
REFERENCES [dbo].[Images] ([cloudinaryId])
GO
ALTER TABLE [dbo].[Vip] CHECK CONSTRAINT [FK_image]
GO
ALTER TABLE [dbo].[Vip]  WITH CHECK ADD  CONSTRAINT [FK_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Vip] CHECK CONSTRAINT [FK_userId]
GO
ALTER TABLE [dbo].[VipTicket]  WITH CHECK ADD  CONSTRAINT [FK_ticketId] FOREIGN KEY([ticketId])
REFERENCES [dbo].[Ticket] ([ticketId])
GO
ALTER TABLE [dbo].[VipTicket] CHECK CONSTRAINT [FK_ticketId]
GO
ALTER TABLE [dbo].[VipTicket]  WITH CHECK ADD  CONSTRAINT [FK_vipId] FOREIGN KEY([vipId])
REFERENCES [dbo].[Vip] ([_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VipTicket] CHECK CONSTRAINT [FK_vipId]
GO
ALTER TABLE [dbo].[VipVoucher]  WITH CHECK ADD  CONSTRAINT [FK_VipVoucher] FOREIGN KEY([vipId])
REFERENCES [dbo].[Vip] ([_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VipVoucher] CHECK CONSTRAINT [FK_VipVoucher]
GO
ALTER TABLE [dbo].[EventTemplate]  WITH CHECK ADD CHECK  (([discount]>=(0) AND [discount]<=(100)))
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [CHK_GameKind] CHECK  (([kind]='2' OR [kind]='1'))
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [CHK_GameKind]
GO
ALTER TABLE [dbo].[RunningEvent]  WITH CHECK ADD  CONSTRAINT [CHK_discountRunningEvent] CHECK  (([discount]>=(0) AND [discount]<=(100)))
GO
ALTER TABLE [dbo].[RunningEvent] CHECK CONSTRAINT [CHK_discountRunningEvent]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_ROLE] CHECK  (([role]='admin' OR [role]='staff' OR [role]='customer'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_ROLE]
GO
ALTER TABLE [dbo].[VipVoucher]  WITH CHECK ADD  CONSTRAINT [CHK_discountVoucher] CHECK  (([discount]>=(0) AND [discount]<=(20)))
GO
ALTER TABLE [dbo].[VipVoucher] CHECK CONSTRAINT [CHK_discountVoucher]
GO
SELECT * FROM Vip